In [17]:
import pandas as pd
import numpy as np

In [11]:
cars1 = pd.read_csv('../data/cars1.csv')
cars2 = pd.read_csv('../data/cars2.csv')
print(cars1.columns)
print(cars2.columns)

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')
Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car'],
      dtype='object')

In [12]:
# Oops, it seems our first dataset has some unnamed blank columns, fix cars1
cars1 = cars1.loc[:, 'mpg':'car']
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

In [14]:
#  What is the number of observations in each dataset?
cars1.shape
cars2.shape

(200, 9)

In [16]:
# Join cars1 and cars2 into a single DataFrame called cars
cars = cars1.append(cars2)
cars.shape

(398, 9)

In [19]:
# Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.
owners = np.random.randint(15000, 73000, size=398)
owners

array([72830, 63159, 24170, 62488, 64404, 67987, 23966, 29027, 60967,
       70475, 43412, 34077, 36833, 46978, 70444, 39188, 56782, 64435,
       30999, 71093, 26094, 61816, 54865, 34802, 46685, 71327, 53400,
       47070, 16274, 50117, 67737, 29695, 72509, 22269, 15001, 41217,
       27655, 40599, 56346, 28225, 39731, 65585, 41522, 25208, 40555,
       25185, 26189, 65770, 72306, 51027, 70625, 47139, 41225, 28640,
       19797, 38755, 31518, 34711, 46857, 38199, 31672, 30746, 43769,
       33903, 39875, 54093, 71800, 55778, 44403, 64587, 51216, 42038,
       54557, 37859, 40982, 35836, 30176, 37865, 67882, 30548, 70543,
       19905, 58539, 52254, 20424, 50596, 49832, 18605, 23345, 33348,
       58110, 47801, 58123, 16403, 17654, 43266, 26299, 40635, 57007,
       50063, 53729, 46499, 54257, 37662, 57535, 56742, 35860, 26842,
       58155, 65747, 43589, 19283, 32776, 51422, 39495, 18404, 32021,
       57572, 20296, 19085, 31940, 72345, 48078, 72489, 56137, 62628,
       55739, 49414, 55283, 32348, 71700, 23702, 54030, 50323, 56333,
       68183, 72530, 36190, 47751, 35583, 51108, 25468, 32960, 18481,
       54540, 25833, 36631, 67046, 52841, 41129, 40546, 23339, 22067,
       62146, 23044, 17210, 25042, 40933, 31728, 18546, 26541, 40465,
       20290, 25887, 63257, 34105, 44631, 15741, 43839, 31771, 39207,
       61553, 33480, 47332, 38080, 71211, 21134, 15142, 35505, 27953,
       44431, 15632, 52940, 63505, 40194, 30669, 40961, 55154, 55483,
       40996, 66419, 16903, 25486, 18588, 70903, 18323, 52994, 60139,
       32795, 23957, 59996, 61849, 66063, 51720, 44533, 35019, 72630,
       45255, 64725, 23105, 59727, 35216, 67532, 57784, 21689, 35373,
       26058, 53522, 15122, 71379, 30385, 37081, 22713, 21747, 32029,
       54522, 50458, 45484, 16896, 30685, 56013, 21926, 26826, 58736,
       40036, 23383, 59537, 26000, 27154, 64417, 49840, 63743, 56275,
       57213, 47636, 21742, 17495, 26384, 41609, 32262, 63009, 19630,
       24261, 28401, 38337, 20343, 32376, 30522, 45823, 30651, 31596,
       66251, 41895, 65806, 53968, 33300, 15780, 71200, 66130, 23524,
       43892, 26036, 42190, 15443, 29663, 30925, 54414, 29061, 44039,
       16878, 32482, 23276, 59999, 58391, 27284, 39434, 37741, 40133,
       61966, 36328, 72889, 61982, 33865, 25170, 22822, 21498, 68488,
       18022, 34542, 47479, 61344, 26030, 72712, 53459, 58476, 25719,
       40371, 23407, 54027, 69419, 25449, 17412, 47199, 51877, 47155,
       31561, 45983, 65944, 57945, 56604, 30935, 27539, 62986, 47154,
       44278, 62643, 61798, 16185, 40020, 35728, 54098, 38134, 55407,
       70700, 37407, 47464, 37745, 71041, 34881, 60915, 68882, 59199,
       50830, 44736, 49619, 42472, 21250, 37601, 19159, 34192, 68960,
       51718, 55593, 31115, 36311, 46351, 48430, 55743, 63293, 64654,
       64141, 15511, 43654, 16528, 66129, 18378, 47099, 68681, 38862,
       20158, 17647, 24402, 52701, 63644, 15308, 72986, 43823, 26199,
       41401, 26108, 66842, 31798, 38613, 71658, 47405, 41341, 51097,
       65108, 41061, 30051, 57401, 36043, 41238, 51768, 36899, 50377,
       28836, 28867])

In [21]:
cars['owner'] = owners
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owner
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,72830
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,63159
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,24170
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,62488
4,17.0,8,302,140,3449,10.5,70,1,ford torino,64404